@model CarouselViewModel
@if (Model.Carousels.Count > 0)
{
    <section id="slider-container" class="slider-area">
        @foreach (var item in Model.Carousels)
        {
            <div class="slider-owl owl-theme owl-carousel">
                <div class="single-slide item" style="background-image: url(http://localhost:55859/images/@(item.ImageUrl))">
                    <div class="slider-content-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 col-md-offset-left-5">
                                    <div class="slide-content-wrapper">
                                        <div class="slide-content">
                                            <h2>@item.Title </h2>
                                            <p>@item.SubTitle</p>
                                            <a class="default-btn" href="@item.Url">Daha Fazlası</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
}
