@model EventDetailViewModel

<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>Etkinlikler ve Detayları</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Details Start -->

<div class="event-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img src="/img/event/event-details.jpg" alt="event-details">
                        <div class="event-date">
                            <h3>@Model.StartDate.Day <span>@Model.StartDate.Month</span></h3>
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@Model.Description</h2>
                     
                        <p>@Model.EditorContent</p>
                        

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>